.sidenav{
    background-color: #05a10b;
    width: 200px;
}
.sidenav a{
    color: #FFF;
}
.sidenav i{
    padding-right: 10px;
}

@media (min-width: 700px){
.content{
    padding:16px;
    background-color: #FFF;
    min-height:730px
}
}
@media (min-width: 900px){
  .content{
      padding:16px;
      background-color: #FFF;
      min-height:730px
  }
  }
@media (min-width: 1280px){
  .content{
      padding:16px;
      background-color: #FFF;
      min-height:730px
  }
  }
@media (min-width: 1600px){
  .content{
      padding:16px;
      background-color: #FFF;
      min-height:730px
  }
  }
@media (min-width: 1680px){
  .content{
      padding:16px;
      background-color: #FFF;
      min-height:780px;
  }
  }
@media (min-width: 1900px){
  .content{
      padding:16px;
      background-color: #FFF;
      min-height:820px
  }
  }



