
<mat-card>
    <mat-card-title>
        Novo Produto
    </mat-card-title>
    <form name="product" [formGroup]="productForm" class="form">
        <mat-form-field>
            <input matInput name="name" formControlName="name" type="name" placeholder="Nome"
            required>

        </mat-form-field>

        <mat-form-field>
          <input matInput name="price" formControlName="price" type="number" placeholder="Preço R$"
          required>

      </mat-form-field>

      <mat-form-field>
        <input matInput name="quantity" formControlName="quantity" type="number" placeholder="Estoque"
        required>

    </mat-form-field>

    </form>





<button mat-raised-button (click)="createProduct()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()" >
    Cancelar
</button>
</mat-card>
