<mat-card>
  <mat-card-title>
      Novo Cliente
  </mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome"
          [(ngModel)]="client.name" name="name">

      </mat-form-field>


      <mat-form-field>
          <input matInput placeholder="Cpf"
          [(ngModel)]="client.cpf" name="cpf" mask="000.000.000-00">

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Data de Nascimento"
        [(ngModel)]="client.dateNascim" name="Date" mask="00/00/0000">

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telefone"
      [(ngModel)]="client.cellNumber" name="cellNumber" mask="(00) 00000-0000">

  </mat-form-field>


  </form>





<button mat-raised-button (click)="createClient()" color="primary">
  Salvar
</button>

<button mat-raised-button (click)="cancel()" >
  Cancelar
</button>
</mat-card>
