<mat-card>
  <mat-card-title>
      Novo Cliente
  </mat-card-title>
  <form name="product" [formGroup]="clientForm" class="form">
    <mat-form-field>
      <input matInput name="name" formControlName="name" type="name" placeholder="Nome"
      required>

  </mat-form-field>

  <mat-form-field>
    <input matInput name="cpf" formControlName="cpf" type="name" placeholder="CPF" mask="000.000.000-00"
    required>

</mat-form-field>

<mat-form-field>
  <input matInput name="dataNasc" formControlName="dataNasc" type="date" placeholder="Data de Nascimento"
  required>

</mat-form-field>

<mat-form-field>
  <input matInput name="phoneNumber" formControlName="phoneNumber" type="nome" placeholder="Telefone" mask="(00) 00000-0000"
  required>

</mat-form-field>


  </form>

<button mat-raised-button (click)="createClient()" color="primary">
  Salvar
</button>

<button mat-raised-button (click)="cancel()" >
  Cancelar
</button>
</mat-card>
