
<ngx-spinner  size = "medium" type = "square-jelly-box" [fullScreen]="false" ><p style="color: white"> Loading... </p></ngx-spinner>
<mat-card>
  <mat-card-title>
      Alterar Cliente
  </mat-card-title>

  <form>
      <mat-form-field>
          <input matInput placeholder="Nome"
          [(ngModel)]="client.name" name="name" required>

      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="CPF"
          [(ngModel)]="client.cpf" name="cpf" required mask="000.000.000-00">

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Data de Nascimento"
        [(ngModel)]="client.dataNasc" name="Date" type="date" required>

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telefone"
      [(ngModel)]="client.phoneNumber" name="cellNumber" required mask="(00)00000-0000">

  </mat-form-field>

  </form>

<button mat-raised-button (click)="updateClient()" color="primary">
  Atualizar
</button>

<button mat-raised-button (click)="cancel()" >
  Cancelar
</button>
</mat-card>
